<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="service.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/">
    <script src="https://use.fontawesome.com/f4643520f2.js"></script>
    <title>Add service</title>
</head>

<body>
    <form class="form">
        <h2>Add service</h2>
        <p type="Name:"><input type="text " placeholder="Write your name here.."></input></p>
        <p type="Price:"><input type="number" placeholder="Enter price for service"></input></p>
        <button>Add service</button>
    </form>

</body>

</html>