{% extends 'website/base.html' %}
{% block title %}Register{% endblock %}

{% block body %}

<form action="" class="form" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="inputBox">
        {{ field }}
        <label>{{ field.label }}</label>
    </div>
    {% endfor %}
    <div style="text-align: center;">
        <button type="submit">Register</button>
    </div>
</form>
<br>
<form>
    <div style="text-align: center;">
        <button formaction="{% url 'website:login' %}" type="submit">Back to Login</button>
    </div>
</form>
</div>
{% endblock %}